<!-- <tr>
  <td>  <%=h showalbumsort.name %> </td>
  <td>  <%=h showalbumsort.created_at %> </td>
</tr> -->



  <table>
      <th> Name </th>
      <th> Date Released </th>
    <tr>
      <td> <%=h showalbumsort.name %> </td>
      <td> <%=h showalbumsort.created_at %></td>
    </tr>
  </table>
