
	

	<%#= f.label :category %><br>
		<% form_for :Album, :html => {:method => :get} do |form| %>
		
		<div>
		<%#= form.label :Sort_by, "Sort by:" %>
		<%#= form.select :Sort_by, Album::Music_Types %>



		<div>
		<p><%= submit_tag 'Submit!' %></p>
		
		
		
		<% if @music_types.blank? %>
		<p>There are no ids</p>
		<% else %>
		<ul id=":music_types">
		<% @music_types.each do |c| %>
		<li><%= link_to c.title, {:action => 'show', :id => c.id} -%></li>
		<% end %>
		</ul>
		<% end %>

	<% end %>
	





<p><%= link_to "edit", edit_album_path(@album) %></p>

<p>
  <%#= image_tag @album.photo.url %>
  <%#= image_tag @album.photo.url(:medium) %>
  <%#= image_tag @album.photo.url(:thumb) %>
</p>

<%= link_to "all", albums_path %>

